<% if(locals.posts) { %>
    <% if(!user) { %>
        <p>Usuario invitado</p>
        <p><a href="/login">Inicia sesión</a> para disfrutar de todas las características!</p>
        <% posts.forEach(post => { %>
            <article class="post-card">
                <div class="post-container">
                    <div class="user-title-div invitado">
                        <img src="/icons/user.png" alt="user avatar">
                        <span class="user-nombre"><%= post.usuario %></span>
                        <a class="user-usuario" href="/feed/perfil/<%= post.id_usuario %>">@<%= post.usuario %></a>
                    </div>
                    <p class="p-comentario"><%= post.comentario %></p>
                </div>
            </article>
            <hr style="margin-top: 10px; width: 100%;">
            <% }) %>
    <% } else { %>

    <% posts.forEach(post => { %>
<article class="post-card">
    <div class="post-container">
        <div class="user-title-div">
            <% if(post.usuario === "admin") { %>
                <i><img src="/icons/star.png" alt=""></i>
                <img src="/icons/rat.jpg" alt="admin avatar">
            <%} else { %>
                <img src="/icons/user.png" alt="user avatar">
            <% } %>
            <span class="user-nombre"><%= post.usuario %></span>
            <a class="user-usuario" href="/feed/perfil/<%= post.id_usuario %>">@<%= post.usuario %></a>
            <% if(user.isadmin) { %>
                <form action="/feed/delete/<%= post.id_post %>" method="post">
                    <button type="submit">
                        <i class="btn-delete"><img src="/icons/delete.png" alt=""></i>
                    </button>
                </form>
            <% } %>
        </div>
        <p class="p-comentario"><%= post.comentario %></p>
    </div>
</article>
<hr style="margin-top: 10px; width: 100%;">
<% }) %>
<% } %>

<% } else { %>
    <p>No se encontraron publicaciones.</p>
<% } %>